<!DOCTYPE html>
<html>
  <head>
    <title>Linkedcare Documentation</title>
    <%= css :application, :media => 'screen' %>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <%= js :application %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
