<script id="gems_template" type="text/x-handlebars-template">
  <h1>Gems<img src="scribe/img/ruby.png" style="float: right; height: 43px"></h1>
  <h2><strong>Handy Information:</strong></h2>
  <span>Technical extra info can be created using the following <a href="http://stackoverflow.com/questions/5177634/list-of-installed-gems" target="_blank"> link</a>. Check it out for more details.</span></br>
  <span>Click <a href="http://www.justinweiss.com/blog/2014/04/07/a-guide-to-choosing-the-best-gems-for-your-ruby-project/" target="_blank">here</a> for a guide on choosing the best gems for your project</span>
  {{#if error}}
    <div class="error">{{error}}</div>
  {{else}}
    {{#if gems}}
      <ul class="expand_options">
        <li><a class="expand_all_a">Expand All</a></li>
        <li><a class="colapse_all_a">Colapse All</a></li>
      </ul>
      <ul class="gems">
        {{#each gems}}
          <li class="gem documentee">
            <div class="header">
              <span class="clickable version blue">{{current_version}}</span>
              <span class="clickable name">{{name}}</span>
              <ul class="link_container">
                <li><a href="{{link}}" target="_blank">Abrir link</a></li>
              </ul>
            </div>
            <div class="expandable">
              <div class="content">
                <table>
                  <tr><td><strong>Date added:          </strong></td><td>{{added_date}}</td></tr>
                  <tr><td><strong>Initial version:     </strong></td><td>{{initial_version}}</td></tr>
                  <tr><td><strong>Current Version:     </strong></td><td>{{current_version}}</td></tr>
                  <tr><td><strong>Environments:        </strong></td><td>{{environments}}</td></tr>
                  <tr><td><strong>Who added it:        </strong></td><td>{{who}}</td></tr>
                  <tr><td><strong>Purpose:             </strong></td><td>{{purpose}}</td></tr>
                  <tr><td><strong>Why this:            </strong></td><td>{{why_this}}</td></tr>
                  <tr><td><strong>Origin Project:      </strong></td><td>{{origin_project}}</td></tr>
                  <tr><td><strong>Dependencies:        </strong></td><td>{{dependencies}}</td></tr>
                  <tr><td><strong>Tecnhical Extra Info:</strong></td><td class="bigger_info">{{tecnhical_extra_info}}</td></tr>
                </table>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="warning">Este serviço não disponibiliza informação sobre gems</div>
    {{/if}}
  {{/if}}
</script>
